@import '@/assets/fonts/fonts.css' layer(base);

@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-bold: TradaSans-Bold, Times New Roman, Times, serif;
  --font-demibold: TradaSans-DemiBold, Times New Roman, Times, serif;
  --font-regular: TradaSans-Regular, Times New Roman, Times, serif;
  --font-medium: TradaSans-Medium, Times New Roman, Times, serif;

  --text-name: clamp(1.875rem, -0.2019rem + 10.3846vw, 12rem); /* 30px - 192px  ||  320-1880 */
  --text-projects: clamp(2rem, 1.8929rem + 0.5357vw, 2.375rem); /* 32px - 38px  ||  320-1440 */
  --text-skills: clamp(2.1875rem, 1.9554rem + 1.1607vw, 3rem);
  --text-contacts: clamp(1.8125rem, 1.7589rem + 0.2679vw, 2rem); /* 29px - 32px  ||  320-1440 */
  --text-title: clamp(1.5625rem, 0.9375rem + 3.125vw, 3.75rem); /* 25px - 60px  ||  320-1440 */
  --text-decription: clamp(1.4375rem, 1.3125rem + 0.625vw, 1.875rem); /* 23px - 30px  || 320-1440 */
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: currentColor;
  }
}
